
<%- include ('./partials/header1'); %>

<


<!-- Nav bar declaration Starting -->
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Yelp\_/Camp </a>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/campgrounds">About Us</a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" href="#">Contact</a>
        </li>
      <!--   <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
     <ul class="nav">
            <li class="nav-item">
           <a class="nav-link" href="#">Sign up</a>
          </li>
              <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
      </ul> 
     </div>
  </nav>
  <!-- Nav bar ending -->

 <!-- Jumbotron  -->
 <header class="text-center" >
    <div class="jumbotron ">
        <div class="container">
            <h1><%=campground.name %></h1>
            <img class=" card card-img-top img-thumbnail " src="<%=campground.image%>" alt="Card image cap">                       
            <p class="text-center"><strong><%=campground.description %></strong></p>
            <p class="text-center"><a class="btn btn-primary btn-lg" href="/campgrounds">Back</a> </p>  
        
                  
        </div>
    </div>                                     
          
</header>
 
<!-- 
<p>
    <%=campground.name %>
</p> -->

<%- include ('./partials/footer'); %>                 
                 
               
          
          
          












